body{
    margin:0;
    background:white;
    font-family:sans-serif;
}



.container{
    max-width:400px;
    margin:auto;        /*画面全体の中央よせ*/
    padding:30px;   /*pading: 上 左 右 下  の余白*/
}

.title-area{
    display: flex;
    justify-content: center;    /*タイトルを中央に寄せる*/
    align-items: center;
    position: relative;
}

/*推しTaskの文字の余白をリセットして中央に*/
.title-area h1 {
    margin: 0;
}

.setting-button{
    position: absolute;
    right: 0;
    width:50px;
    height:50px;
    font-size:30px;
}

.oshi-image{
    width:200px;
    height:200px;

    margin:20px auto;

    border:1px solid black;

    display:flex;
    justify-content:center;
    align-items:center;
}

.level{
    font-size:24px;
    margin-bottom:10px;
}

.exp-bar{
    width:100%;
    height:30px;

    border:1px solid black;

    margin-bottom:20px;
}

.exp-fill{
    width:30%;
    height:100%;

    background:pink;
}

.task-area{
    height:200px;

    border:1px solid black;
    border-radius:15px;

    margin-bottom:20px;
}

.function_button{

    display:flex;
    justify-content:space-around;   /*均等に配置*/

}

.function_button button{
    width:100px;
    height:70px;
    font-size:30px;


}

